*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #afd5aa94;
    text-align: center;
}

h1{
    font-size: 60px;
    color: rgb(6, 85, 48);
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 16px;
    border: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: #f1f1e9;
    color: rgb(236, 126, 9);
    cursor: pointer;
}

.msg-container{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#msg{
    color: #2a08e992;
    font-size: 65px;
    font-weight: 900;
}

.hide{
    display: none;
}

.new-btn{
    padding: 16px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    background-color: rgb(46, 155, 70);
    color: #fff;
    cursor: pointer;
}

#reset-btn{
    padding: 16px;
    font-size: 20px;
    background-color: rgb(46, 155, 70);
    color: #fff;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

